.page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.csv-headers-list{
    display: inline-block;
    list-style-type: none;
    background-color: rgba(0,0,0,0.07);
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 30px;

}
li{
    float: left;

    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-decoration: none;

    max-height: 30px;

    padding: 10px 15px;
    margin: 4px 2px;
    border-radius: 30px;
    border: none;
    background-color: rgba(0,0,0,0.07);
    color: rgba(0,0,0,0.7);
}

li:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.07);
    cursor: pointer;
}
li.done{
    background: rgb(0, 128, 255);
    color: white;
}
li.done::before{
    content: '';
    position: absolute;

}

.home-image{
    border-radius: 15px;
    width: 300px;
    margin: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.display-none{
    display: none;
}